/*通用*/
.comWidth {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.leftArea {
    float: left;
}

.rightArea {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*topBar*/
.topBar {
    height: 31px;
    background-color: #f7f7f7;
    line-height: 31px;
}

.collection {
    background: url("../img/icon/collection.png") left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}

.topBar a:hover {
    color: red;
}

/*logo*/

.logoBar {
    height: 85px;
    background-color: #1D7AD9;
}

.logo {
    padding-left: 41px;
    padding-top: 13px;
}

/*search*/
.search_box {
    width: 430px;
    padding-top: 23px;
    padding-left: 185px;
}

.search_text {
    width: 350px;
    height: 35px;
    line-height: 35px \9; /*css hack \9代表所有ie浏览器*/
    padding: 0px 5px;
    background-color: #fff;
}

.search_btn {
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    background-color: #ff8c00;
    color: #fff;
}

.shopCart {
    width: 145px;
    height: 35px;
    background-color: #ff8c00;
    margin-top: 23px;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    color: #fff;
    line-height: 35px;

}

.shopText {

    height: 100%;
    width: 87px;
    border-right: #e27a00 solid 1px;
    text-indent: 40px;
    background: url("../img/icon/shoppingcart.png") 10px center no-repeat;
}

.shopNum {
    width: 27px;
    height: 35px;
    border-left: #ff9c01 solid 1px;
    background: url("../img/icon/triangle.png") 33px center no-repeat;
    text-align: right;
    padding-right: 29px;
}

/*导航*/
.navBox {
    height: 35px;
    background-color: #1369c0;
    color: #fff;
}

.shopClass {
    width: 190px;
    position: relative;

}

.shopClass h3 {
    text-align: center;
    line-height: 35px;
}

.shopClass i {
    width: 15px;
    height: 7px;
    overflow: hidden;
    background: url("../img/icon/arrow-down.png") left center no-repeat;
    display: inline-block;
    margin-left: 7px;
}

.nav, .shopClass {
    font-family: "Microsoft YaHei UI", "微软雅黑";
}

.nav {
    line-height: 35px;
}

.nav li {
    float: left;
}

.nav a {
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #fff;
}

.nav .active {
    background-color: #4593fd;
}

/*商品弹出列表*/

.shopClass_show {
    background-color: #4593fd;
    position: absolute;
    left: 0px;
    top: 35px;
    width: 100%;
    padding-bottom: 1px;
}

.shopClass_item {
    padding: 13px 10px;
    border-bottom: #3487f2 solid 1px;
    border-top: #5aa1fe solid 1px;
    line-height: 16px;
}

.shopClass_item dt {
    height: 21px;
    line-height: 1;
    overflow: hidden;
    background: url("../img/icon/right-triangle.png") right center no-repeat
}

.shopClass_item .b {
    font: 14px/1 "Microsoft YaHei UI", "微软雅黑";
}

.shopClass_item a {
    color: #fff;
}

.shopClass_item a:hover {
    text-decoration: underline;
}

/*shopClass_item active 状态*/
.shopClass_active {
    background-color: #fff;
    border-left: #4593fd solid 1px;
}

.shopClass_active a {
    color: #000;
}

.shopClass_active dt {
    background: none;
}

/*弹出菜单*/
.shopClass_list {
    width: 568px;

    border: #ccc solid 1px;
    position: absolute;
    left: 190px;
    top: 35px;
}

.shopClass_cont {
    padding: 2px 20px;
}

.shopList_item {
    padding: 10px 0;
    border-bottom: #ccc solid 1px;
}

.shopList_item dt {
    color: #4b87d9;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.shopList_item dd {
    padding-left: 68px;
    margin-top: -24px;
    line-height: 24px;
}

.shopList_item dd a {
    margin-right: 12px;
}

.shopList_links {
    padding: 15px 0;
}

.shopList_links a {
    color: #fff;
    background-color: #2785e6;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}

.shopList_links span {
    width: 11px;
    height: 7px;
    background: url("../img/icon/right-triangle.png") left center no-repeat;
    display: inline-block;
    margin-left: 7px;
}

/*banner 部分*/
.banner {
    margin-bottom: 15px;
}

.banner_bar {

    float: right;
    position: relative;
    overflow: hidden;
}

.imgBox {

    position: absolute;
    left: 0;
    top: 0;
}

.imgBox li {
    float: left;
}

.imgBox img {

    display: block;
}

.imgNum {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.imgNum a {
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    margin: 0 3px;
}

.imgNum .active {
    background-color: #ff7700;
}

.banner_big {
    width: 810px;
    height: 326px;
}

.banner_big .imgBox {
    width: 3240px;
    height: 326px;
}

.banner_big img {
    width: 810px;
    height: 326px;
}

.banner_small, .banner_small img {
    width: 190px;
    height: 400px;

}

.banner_small .imgBox {
    width: 380px;
    height: 400px;
}

/*商品标题*/
.shopTitle {
    height: 44px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    line-height: 44px;
    margin-bottom: 15px;
}

.shopTitle h3 {
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}

.icon {
    width: 44px;
    height: 44px;
    float: left;
    background: url("../img/icon/item.png") left top no-repeat;
}

.more {
    float: right;
    font-family: "宋体";
}

.more:hover {
    text-decoration: underline;
}

/*商品列表*/
.shopList .leftArea {
    width: 190px;
}

.shopList .rightArea {
    width: 808px;
    border: #999 solid 1px;
    border-bottom: #ff7201 solid 3px;
    height: 396px;
    overflow: hidden;
}

/*商品列表右侧*/

.shopList {
    margin-bottom: 15px;
}

.shopList_top {
    margin-right: -4px;
}

.shop_item {
    width: 202px;
    border-right: #999 solid 1px;
    border-bottom: #999 solid 1px;
    height: 279px;
    text-align: center;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    float: left;

}

.shop_img {
    height: 218px;

}

.shop_img img {
    width: 100%;
    height: 218px;
    display: block;
}

.shop_item h3 {
    font-size: 16px;
}

.shop_item p {
    font-size: 14px;
    color: #ff7300;
    line-height: 21px;
}

/*商品列表-小*/
.shopList_sm {
    margin-right: -4px;

}

.shopItem_sm {
    width: 202px;
    border-right: #999 solid 1px;
    height: 110px;
    float: left;
    padding-top: 6px;
}

.shopItem_smImg {
    width: 95px;
    height: 95px;
    text-align: center;
    float: left;
}

.shopItem_smImg img {
    width: 95px;
    height: 95px;
}

.shopItem_text {
    padding-top: 28px;
    width: 100px;
    float: left;
}

.shopItem_text p {
    color: #ff7300;
}

.shopItem_text h3 {
    font-family: "Microsoft YaHei UI", "微软雅黑";
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}

.hr_25 {
    height: 25px;
}
.hr_45{
    height: 45px;
}
.hr_7 {
    height: 7px;
    overflow: hidden;
}

.hr_15 {
    height: 15px;
    overflow: hidden;
}

/*底部*/
.footer {
    text-align: center;
    background-color: #d4d4d4;
    line-height: 24px;
    padding: 50px 0;

}

.footer i {
    font-style: normal;
    margin: 0 5px;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: #f60;
}

.copyright_auth {
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    background-image: url(../img/footer.png);
    line-height: 1000px;

}

.copyright_auth_1 {
    background-position: 0 -151px;
}

.copyright_auth_2 {
    background-position: -104px -151px;
}

.copyright_auth_3 {
    background-position: 0 -184px;
}

.copyright_auth_4 {
    background-position: -104px -184px;
}

.copyright_auth_5 {
    background-position: 0 -217px;
}

.copyright_auth_6 {
    background-position: -104px -217px;
}

/*产品分类*/
.products .leftArea {
    width: 185px;
}

.products .rightArea {
    width: 810px;
}

.products .banner_bar {
    float: none;
}

.products .item {
    width: 25%;
    *width: 24.9%;
    margin-bottom: 10px;
}

/*产品分类导航*/
.leftNav {
    background-color: #f3f3f3;
    border: #d7d7d7 solid 1px;

}

.nav_title {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-bottom: #d7d7d7 solid 1px;
    text-align: center;
}

.nav_cont {
    padding: 0 18px 4px;
    border-bottom: #d7d7d7 1px dotted;
    margin-bottom: -1px;
}

.nav_cont h3 {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.navCont_list {
    line-height: 25px;
}

.navCont_list li {
    float: left;
    width: 50%;
}

.vertical li {
    width: auto;
    float: none;
    padding-left: 8px;
}

.vertical .nav_title,
.vertical .nav_cont h3 {
    font-family: "Microsoft YaHei UI", "微软雅黑";
    font-size: 14px;
}

/*标题*/
.products_title {
    height: 34px;
    border-bottom: #ccc solid 2px;
}

.products_title h3 {
    width: 180px;
    border-bottom: #096dba solid 2px;
    height: 34px;
    line-height: 34px;
    text-indent: 9px;
    margin-bottom: -2px;
    position: relative;
}

/*商品*/
.item {
    float: left;
    height: 265px;
    position: relative;
}

.item_cont {
    padding: 0 15px;
}

.img_item {
    height: 170px;
    text-align: center;
}

.img_item img {
    height: 170px;
}

.item p {
    line-height: 20px;
}

.item a {
    color: #000;
}

.item a:hover {
    text-decoration: underline;
}

.money {
    color: #d4105a;
    font-weight: bold;
    padding-top: 10px;
}

.stars {
    width: 13px;
    height: 12px;
    overflow: hidden;
    background: url("../img/icon/star.png") left top no-repeat;
    display: inline-block;
    margin-right: 1px;
}

.hot {
    width: 52px;
    height: 52px;
    background: url("../img/icon/hot.png") left top no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

/*筛选*/
.select {
    border-bottom: #ccc solid 1px;
    font-family: Verdana;
}

.select dt {
    line-height: 32px;
    width: 74px;
    text-align: right;
    float: left;
    margin-right: 42px;
}

.limit {
    width: 55px;
    float: left;
    line-height: 32px;
}

.select .active {
    background-color: #1D7AD9;
    color: #ffffff;
}

.select a {
    padding: 2px;
}

.select_list {
    line-height: 32px;
    width: 626px;
    float: left;
}

.select_list li {
    width: 20%;
    float: left;
}

.select_more {
    border: #ccc solid 1px;
    height: 23px;
    line-height: 23px;
    margin-top: 4px;
    float: left;

    padding-right: 5px;
    padding-left: 11px;
    margin-right: 10px;
}

.select_more a {
    background: url("../img/icon/arrow_bullet_down.png") right center no-repeat;
    padding-right: 15px;
}

.addInfo {
    height: 31px;
    border: #ccc solid 1px;
    background-color: #f5f5f5;
}

.address {
    float: left;
}

.add_text {
    float: left;
    line-height: 31px;
    padding-left: 12px;
    padding-right: 6px;
}

.addInfo .select_add {
    margin-top: 4px;
}

.select_text {
    line-height: 31px;
    padding-right: 80px;
}

.check {
    position: relative;
    top: -1px;
    _top: 4px;
}

.shop_number {
    position: relative;
    _top: 4px;
}

.check input,
.check label {
    vertical-align: middle;
}

.shop_number em {
    color: #f00;
    font-style: normal;
    font-weight: bold;
}

.select_text span {
    vertical-align: middle;
}

.addCar {
    border: #999 solid 1px;
    height: 22px;
    display: inline-block;
    padding: 0 6px 0 23px;
    background: url("../img/icon/addcart.png") 6px center no-repeat;
}

.select_list_more {
    padding-left: 0.5%;
}

.select_list_more .item {
    width: 33.3%;
}

/*分页*/
.page {
    text-align: center;
    position: relative;
    z-index: 2;
}

.page a {
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border: #ccc solid 1px;
    padding: 0 12px;
    margin: 0 2px;
}

.page .hl {
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px;
}

.morePage {
    padding-left: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;

}

.pageNum {
    width: 29px;
    padding: 0 3px;
    border: #ccc solid 1px;
    height: 24px;
    line-height: 24px \9;
    text-align: center;
    margin: 0 4px;
}

.page_btn {
    width: 44px;
    height: 24px;
    line-height: 24px;
    background-color: #e8e8e8;
    border: #ccc solid 1px;
}

.page a,
.page span,
.page input {
    vertical-align: middle;
    position: relative;
}

/*组件*/
.select_add {
    border: #999 solid 1px;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #ffffff;
    padding-left: 10px;
    position: relative;
    padding-right: 20px;
    z-index: 4;
}

.select_add span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
    background: url("../img/icon/arrow_down_blue.png") center center no-repeat;
}

.select_add h3 {
    font-size: 12px;
    font-weight: normal;
}

.show_select {
    position: absolute;
    left: -1px;
    top: 22px;
    background-color: #ffffff;
    width: 100%;
    border: #999 solid 1px;
    display: none;
}

.show_select li {
    padding-left: 10px;
}

/*位置*/
.userPosition {
    font-size: 0;
    font-family: Verdana;
    margin-top: 25px;
    margin-bottom: 15px;

}

.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a {
    font-size: 12px;
}

.userPosition em {
    font-style: normal;
}

.userPosition a:hover {
    text-decoration: underline;
}

/*商品介绍*/
.grey {
    background-color: #f0f0f0;
}

.description_info {
    background-color: #fff;

}

.description {
    border: #ccc solid 1px;
}

.description .leftArea {
    width: 309px;
}

.description .rightArea {
    width: 688px;
    border-left: #ccc solid 1px;
}

/*图片展示*/
.description_imgs .des_big_img {
    height: 340px;
    text-align: center;
}

.des_big_img img {
    max-height: 340px;
    max-width: 300px;
}

.des_sm_img {
    padding-left: 1px;
    width: 265px;
    margin: 0 auto;
}

.des_sm_img li {
    float: left;
    margin-left: -1px;

}

.des_sm_img img {
    border: #ccc solid 1px;

}

.des_sm_img .active {
    border-color: #317ee7;
    position: relative;
}

.des_content {
    padding: 10px;
}

.des_content_title {
    font: bold 16px/22px "Microsoft YaHei UI", "微软雅黑";
    padding: 13px 25px;
}

.des_content .dl {
    margin-bottom: 8px;
}

.des_content .dt {
    width: 75px;
    float: left;
    color: #666;
    text-indent: 17px;
    line-height: 25px;
}

.des_content .dd {
    padding-left: 75px;
    *padding-left: 0;
}

.des_money {
    font-size: 18px;
    color: #f30;
    font-family: Verdana;

}

.des_money em {
    font-style: normal;
    font-size: 12px;
}

/*换购*/
.promote_icon {
    width: 55px;
    height: 18px;
    display: inline-block;
    background: url("../img/icon/promote_icon.png") left -18px no-repeat;
    color: #fff;
    font-style: normal;
    text-indent: 16px;
    line-height: 18px;
    margin-right: 10px;
    font-size: 10px;
}

.promote {
    padding-top: 4px;
    display: inline-block;
}

/*送货*/
.des_shipping {
    background-color: #f2f2f2;
    padding: 15px 0;
}

.goods {
    line-height: 24px;
    padding-left: 10px;
}

.des_content .colorSelect {
    line-height: 35px;
}

.des_item {
    color: #666;
    padding: 9px 10px;
    border: #ccc solid 1px;
    float: left;
    background-color: #fff;
    margin-right: 10px;
}

.des_item_active {
    border-color: #317ee7;
    color: #333;
}

.des_item_sm {
    padding: 3px 7px;
    margin-bottom: 8px;
}

.des_content .des_select_more {
    line-height: 55px;
}

/*数量*/
.des_number {
    border: #b2b2b2 solid 1px;
    height: 32px;
    width: 82px;
    float: left;
}

.des_number div {
    height: 100%;
    float: left;
}

.reduction, .plus {
    width: 15px;
    background-color: #fcfcfc;
    line-height: 32px;
    text-align: center;
    color: #333;
}

.reduction {
    border-right: #ccc solid 1px;
}

.plus {
    border-left: #ccc solid 1px;
}

.des_input {
    width: 42px;
    background-color: #fff;
    padding: 0 4px;

}

.des_input input {
    width: 100%;
    height: 32px;
    line-height: 32px \9;
    text-align: center;
}

.limit_purchase {
    line-height: 32px;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    color: #656565;
}

.limit_purchase em {
    color: #fb7700;
    font-style: normal;
}

.des_content .des_num {
    line-height: 32px;
}

.des_select {
    font-weight: bold;
    margin: 22px 0 12px;
    text-indent: 17px;
}

.des_select span {
    color: #0479c9;
}

.shop_buy {
    text-align: center;
}

.shopping_btn {
    display: inline-block;
    width: 184px;
    height: 48px;
    background-color: darkorange;
    text-align: center;
}

.shopping_btn a {
    color: white;
    font-size: 18px;
    margin-top: 12px;
    display: inline-block;
    font-family: "Microsoft YaHei UI", "微软雅黑";
}

.shopping_cart {
    display: inline-block;
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 10px;
    background: url("../img/icon/shopping_btn.png") left top no-repeat;
}

.line {
    width: 1px;
    height: 90px;
    overflow: hidden;
    background-color: #ccc;
    display: inline-block;
    margin: 0 40px;
}

.line, .shopping_btn {
    vertical-align: middle;
}

.shop_notes {
    color: #ccc;
    text-indent: 17px;
}

/*同类产品推荐*/
.des_info .leftArea {
    width: 190px;
}

.des_info .rightArea {
    width: 790px;
}

.recommend {
    border: #ccc solid 1px;
    background-color: #fff;
    padding-bottom: 15px;
}

.recommend .title {
    height: 39px;
    border-bottom: #ccc solid 1px;
    line-height: 39px;
    text-indent: 15px;
    font-size: 14px;
    background-color: #f3f3f3;
}

.recommend .item {
    float: none;
    height: auto;
}

.recommend .money {
    padding-top: 0;
}

/*详细介绍*/
.des_infoContent{
    border: #ccc solid 1px;
    background-color: #fff;
}

.des_title{
    height: 39px;
    border-bottom: #ccc solid 1px;
    background-color: #e6e6e6;
}

.des_title li{
    float: left;
    width: 50%;
    font-size: 14px;
    line-height: 39px;
    font-family: "宋体";
    text-align: center;
    border-left: #ccc solid 1px;
    margin-left: -1px;
}

.des_title .active{
    background-color: #0479ca;
    font-weight: bold;
    color: white;
    position: relative;
}

.des_title span{
    background: url("../img/icon/comment.png") left center no-repeat;
    padding-left: 32px;
    display: inline-block;
    line-height: 39px;
}

.ad{
    padding: 30px 0;
    text-align: center;
}

.info_title{
    height: 26px;
    border-bottom: #ccc solid 1px;
    font-family: "Microsoft YaHei UI", "微软雅黑";
    margin-bottom: 18px;
}

.info_title h3{
    float: left;
    font-size: 16px;
    color:#2357a5;
    border-bottom: #2357a5 solid 1px;
    height: 26px;
    margin-bottom: -1px;
    position: relative;
    padding-right: 8px;
}

.info_title h4{
    font-size: 12px;
    line-height: 26px;
    padding-left: 4px;
    color: #656565;
}

.info_text{
    padding: 0 20px;
}

.info_text p{
    line-height: 22px;
    font-size: 14px;
    color: #656565;
}

.center{
    display: block;
    margin: 0 auto;
}

/*商品评价*/
.comment_title{
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    color: #656565;
    padding-left: 10px;
}

.score_box{
    padding-left: 10px;
    height: 120px;
}
.score{
    font-family: "Microsoft YaHei UI", "微软雅黑";
    float: left;
    margin-right: 10px;
}
.score em{
    font-size: 18px;
    color: #65657d;
    font-style: normal;
}

.score span{
    font-size: 50px;
    color: #ff8f00;
}

.score_degree{
    float: left;
    width: 450px;

    line-height: 16px;
    font-size: 12px;
    margin-top: 12px;
    position: relative;
}
.score_degree_text{
    background-color: #bdbdbd;
    height: 16px;
    overflow: hidden;
    color: white;
    margin-bottom: 10px;
}
.score_degree_text li{
    float: left;
    width:90px;
    text-indent: 18px;
}

.score_num{
    position: absolute;
    left: 80%;
    top:-30px;
    text-align: center;
    width: 70px;
    height: 20px;
    background: url("../img/icon/score_icon.png") center center no-repeat;
    color: white;

}

/*评价切换*/
.review_tab{
    height: 32px;
    background-color: #f2f2f2;
}
.review{
    line-height: 32px;
    height: 100%;
    padding-left: 20px;
}
.review li{
    float: left;
    height: 100%;
    margin-right: 40px;
}

.review li a{
    display: inline-block;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
}

.review .active{
    color: #317de6;
    font-weight: bold;
    border-bottom: #317de6 solid 2px;
    margin-bottom: -2px;
    position: relative;
}

.review_sort{
    padding: 5px;
}
.review_sort a{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    border: #ccc solid 1px;
    padding:0 20px 0 6px;
    background: url("../img/icon/sort_icon.png") 58px center no-repeat;
}


.review_userHead{
    width: 170px;

}
.review_user{
    width: 60px;
    text-align: center;
    margin-left: 40px;
}

.review_list{
    padding-top: 18px;
    margin-bottom: 10px;
}
.review_user img{
    width: 60px;
    height: 60px;
    display: block;
}
.review_user p{
    line-height: 20px;
}

.review_content{
    padding-left: 170px;
}

.stars_text{
    font-weight: bold;
    padding-left: 10px;
}

.starsBox .stars{
    margin-top: 1px;
}
.review_t{
    height: 24px;
    padding-top: 5px;
}
.review_content p{
    line-height: 30px;
}

.review_page{
    margin: 10px auto;
}
